.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

.shiftContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 25%));
}

.shift {
	background: rgb(1, 1, 51);
	padding: 2rem;
	border: 1px solid rgb(255, 255, 255);
	box-shadow: 2px 2px 4px 0.5px rgb(255, 255, 255);
	border-radius: 65px;
	margin: 20px;
	height: 77%;
	position: relative;
}
